*{
    margin:0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
ul{
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}


.background-imageContainer{
    position: fixed;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    z-index: -1;
    vertical-align: middle;
    left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.background-imageContainer img{
    display:block;
  left: 50%;
}

.navbar{
    font-family: 'Verdana', Georgia, monospace;
    background: #353535;
}
.navbar a{
    color: white;
    padding: 0.8rem;
    font-size: 1.5rem;
}
.navbar li{
    border-right: 1px solid rgba(255,255,255,.1);
}

.Logo{
    margin: 15px 0px;
    text-align: center;
}
.sidebar{
	text-decoration: none;
	position: fixed;
	left: 0;
	width: 230px;
	height: 100%;
    background: #222222;
    opacity: 95%;
    transition: left .3s;
}
.sidebar header{
	text-decoration: none;
	font-size: 1rem;
	color: white;
	text-align: center;
	line-height: 1rem;
    background: #242424;
    padding: 10px 0;
    
}
.sidebar header p{
    font-size: 16px;
    text-align: start;
    padding-left: 10px;
}
.sidebar ul a{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 5rem;
	font-size: 1.2rem;
	color: white;
	padding-left: 1.2rem;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .3s;
    align-content: center;
    
}
.sidebar .links li:hover a{
    padding-left: 30px;
}

.link-slot{
    height: 5rem;
    
}
.content{
    font-family: 'Segoe UI', Courier, monospace;
    font-size: 1.3rem;
    
    padding: 24vh 15% 400px 15%;
    /* background-color: rgba(1, 1, 1, 1); */
    

}
.content a{
    color:white;
}
.rest-of-content a {
    color: white;
}
.full-container{
    padding-left: 230px;
}
.skills{
   
    margin-top: -40px;
}
.rest-of-content{
    background-color: rgba(255, 255, 255, .95);
    font-family: 'Segoe UI', Courier, monospace;
    font-size: 1.3rem;
    padding: 0 10% 0 10%;
    
}
.content li{
    margin-right: 50px;
    margin-bottom: 60px;
    background: #222222;
    border-radius: 10px;
    box-shadow: -1px -1px #acacac;
    width: auto;
}
.rest-of-content li{
    margin-right: 50px;
    margin-bottom: 60px;
    background: #222222;
    border-radius: 10px;
    box-shadow: -1px -1px #acacac;
    width: auto;
}
.Profile{
    padding: 10px 40px;
    border-radius: 10px;
    border: seashell;
    background-color: rgba(0,0,0, 0.65);
    opacity: 100%;
    color: white;
    text-shadow: 2px 2px #414141;
    
    
}
.nav-item{
    max-width: 260px;
    align-content: center;
    
}
.nav-item a{
    backface-visibility: hidden;
    transition: .2s;
    align-content: center;
    text-align: center;
    
}
.links-list .nav-item a:hover{
    transform: scale(1.05);
    /* font-size: 110%; */
}
.content-box{
    padding-top: 50px;
    padding-bottom: 150px;
}
.content p,h3{
    margin-top: 20px;
}
header hr{
    color:white;
}
.work-experience h5{
    margin-top: 20px;
}
.linkedIn i{
    color: #62c0ec;
}
.gamedev i{
    color: #ec7262;
}
.links-list{
    margin-top: 4rem;
    display: flex;
    align-items: center;

}
.burger{
    background: #353535;
    color: white;
    padding: 10px;
    padding-left: 30px;
    font-size: 50px;
    position: fixed;
    right: -10%;
    top:0;
    transform:rotate(90deg);
}
.burger:hover{
    cursor: pointer;
}

.hide{
    left: -75%;
}
.logo{
    width: 150px;
}

@media screen and (max-width: 910px){
    .full-container{
        padding-left: 0;
    }
    .content{
        padding: 300px 50px 400px 50px;
    }
    .rest-of-content{
        margin-left: 0;
    }
    .burger{
        right: 0%;
    }
    .sidebar{
        left: -100%;
        width: 100%;
    }
    .sidebar ul a{
        line-height: 3rem;
    }
    .hide{
        left: 0;
    }
    .row{
        margin-right: 0;
    }
    .nav-item {
        max-width: 100%;
        width: 25%;
    }
    .content{
        margin: 0;
    }
    .logo{
        width: 100px;
    }
    .content li{
        width: 100%;
        padding: 15px 5px;
        margin-right: 0;
    }
    .sidebar-links{
        list-style: none;
    }
    .sidebar-links .col{
        padding-left: 0;
        padding-right: 0;
    }
}